<%= render "mailers/layout_open" %>
      <h2 style="margin-top:0;"><%= @society.name %> has a new tasting night</h2>
      <p><strong><%= @event.title %></strong></p>
      <p class="meta"><%= @event.start_time.strftime("%A, %B %-d at %-l:%M %p") %></p>
      <% if @event.location.present? %><p class="meta"><%= @event.location %></p><% end %>
      <% if @event.description.present? %><p><%= truncate(@event.description, length: 200) %></p><% end %>
      <a class="btn" href="<%= society_event_url(@society, @event) %>">See the event</a>
      <div class="rsvp">
        <a class="btn" style="background:#047857;" href="<%= @rsvp_urls["yes"] %>">RSVP yes</a>
        <a class="btn" style="background:#b45309;" href="<%= @rsvp_urls["maybe"] %>">Maybe</a>
        <a class="btn" style="background:#6a5a48;" href="<%= @rsvp_urls["no"] %>">Can't make it</a>
      </div>
      <p class="meta" style="margin-top: 10px;">One click records your answer. You can change it any time on the event page.</p>
<%= render "mailers/layout_close", footer_note: "You can turn off event emails any time in your account settings at whiskeysharesociety.com." %>
